/******************************************************************
Site Name:
Author:

Stylesheet: Main Stylesheet

Here you can easily toggle on/off modules and files.

******************************************************************/

//
// STEP 1: Reset
//

@import "libs/normalize";

//
// STEP 2: Utilities
//

@import "utilities/all-utilities";

@import "libs/fontawesome/variables";
@import "libs/fontawesome/mixins";

//
// STEP 3: Elements
//

@import "elements/typography";
@import "elements/main-navigation";
@import "elements/links";
@import "elements/lists";
@import "elements/media";
@import "elements/tables";
@import "elements/forms";
@import "elements/bootstrap-grid";
@import "elements/pagination";
@import "elements/comments";
@import "elements/widgets";

//
// STEP 4: Sections
//

@import "sections/layout";
@import "sections/header";
@import "sections/main-content";
@import "sections/sidebar";
@import "sections/footer";

//
// STEP 5: Modules
//

@import "modules/sticky-footer"; // need to add sticky-footer class to the body

//
// STEP 6: Plugins
//

@import "plugins/gravity-forms/base"; // gravity forms styles - uncheck box to NOT output default CSS
@import "plugins/woocommerce/base"; // woocommerce styles

//
// STEP 7: Libraries
//

@import "libs/selectWoo"; // better cross browser select input - see https://github.com/woocommerce/selectWoo
@import "libs/magnific-popup"; // magnific lightbox styles - see https://github.com/dimsemenov/Magnific-Popup
@import "libs/retinajs"; // retinajs mixin for adding retina images - see http://imulus.github.io/retinajs/

//
// STEP 8: Media Queries
//

// RETINA (2x RESOLUTION DEVICES)
// This applies to the retina iPhone (4s) and iPad (2+) along with other displays with a 2x resolution.
// @media only screen and (-webkit-min-device-pixel-ratio: 1.5),
//	only screen and (min--moz-device-pixel-ratio: 1.5),
//	only screen and (min-device-pixel-ratio: 1.5) {
//		@import "media-queries/retina";
//}

// PRINT STYLESHEET
// Remember to remove things that do not make sense for print (ie. nav, ads, and forms should).
@media print {

	@import "media-queries/print";

}
